/*Styles for Tea Cozy*/

/* Body */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
  text-align: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: inherit;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  flex-grow: 1;
}

a {
  text-decoration: underline;
  color: seashell;
  padding: 20px 10px;
}

/* Main Div */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

/* Header text formatting */
.headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 100%
}

h2, h3, h4{
  margin: 0px;
  padding: 10px;
}

/* Our Mission */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

/* Store Div */
.store {
  width: 1000px;
  margin: 75px 0px;
}

/* Store Items */
.store-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.store-items img {
  height: 200px;
  width: 300px;
  padding: 10px 15px;;
}

.store-items h4 {
  padding: 5px;
}

/* Locations */
.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

.locations h2 {
  margin-top: 50px;
}

.addresses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.location {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  margin: 5px auto;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin: 0 auto;

}

.about h2 {
  padding-bottom: 25px;
  margin: 0px;
}

.about h5 {
  padding: 20px;
  margin: 0px;
}

/* Footer */
.main-content footer {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
