/*Styles for Tea Cozy*/

/* Body */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: inherit;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  flex-grow: 1;
}

a {
  text-decoration: underline;
  color: seashell;
  padding: 20px 10px;
}

/* Main Div */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

/* Header text formatting */
.headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 100%
}

h2, h3, h4{
  margin: 0px;
  padding: 10px;
}

/* Our Mission */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

/* Store Div */
.store {
  width: 1000px;
}

/* Store Items */
.store-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 1000px;
}

.store-items img {
  height: 200px;
  width: 300px;
}

/* Locations */
.locations {
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

.addresses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  background-color: black;
  width: 300px;
}
