/*Styles for Tea Cozy*/

/* Body */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
  text-align: center;
}

/* Header */
header {
  position: fixed;
  z-index: 2;
  background-color: inherit;
  height: auto;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header li {
  display: inline;
  padding: 10px;
}

header img {
  margin: 10px;
  height: 50px;
  float: left;
}

header nav {
  float: right;
}

a {
  text-decoration: underline;
  color: seashell;
  padding: 20px 10px;
}

/*- Mobile Header Stylings -*/
.mobile {
  display: none;
}

.mobile-list {
  display: none;
  margin: 0;
  padding: 0;
}

.mobile-list li {
  display: block;
}

/*- Mobile Nav Toggle -*/
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

/*-- Hamburger Element Animation --*/
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Main Div */
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

/*- Header text formatting -*/
.headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 100%
}

h2, h3, h4{
  margin: 0px;
  padding: 10px;
}

/*- Mission Section -*/
#mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

/*- Featured Store Section -*/
#featured {
  width: 1000px;
  margin: 75px 0px;
}

/*-- Store Items --*/
#store-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#store-items img {
  height: 200px;
  width: 300px;
  padding: 10px 15px;;
}

#store-items h4 {
  padding: 5px;
}

/*- Locations Section -*/
#locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

#locations h2 {
  margin-top: 50px;
}

#addresses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.location {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  margin: 5px auto;
}

/*- About Section -*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin: 0 auto;

}

#about h2 {
  padding-bottom: 25px;
  margin: 0px;
}

#about h5 {
  padding: 20px;
  margin: 0px;
}

/* Footer */
#main-content footer {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

/* Responsiveness */

/* Mobile Styles */
@media screen and (max-width: 1024px) {

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header img {
    width: 30%;
    height: auto;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .desktop {
    display: none;
  }
}
